<a href="https://colab.research.google.com/github/RPMicroCred/microcred_sec4_winter_2022/blob/Python/Copy_of_Unit2_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [2]:
alphabets = ['b','e','a','d','c']

## 2.	Print out those variables by using a for loop

In [ ]:
for alph in alphabets:
    print(alph)

a
b
c
d
e

## 3.	Modify your for loop to add a message to your for loop

In [3]:
for alph in alphabets:
    print(alph + ' is an alphabet')

b is an alphabet
e is an alphabet
a is an alphabet
d is an alphabet
c is an alphabet

## 4.	Use a for loop to print even numbers from 1-20.

In [ ]:
for x in range(2,21,2):
  print(x)

2
4
6
8
10
12
14
16
18
20

## 5.	Sort your list in alphabetic order.

In [ ]:
alphabets.sort()

## 6.	Print out the first three elements of your list.

In [ ]:
print(alphabets[:3])

['b', 'e', 'a']

## 7.	Create a loop to print the last 2 elements of your list.

In [ ]:
for num in alphabets[-2:]:
  print(num)

d
c